<div class="container">
  <h2 class="white">Ajouter un NFT</h2>
  <form [formGroup]="nftForm" method="post" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label text-white">Nom</label>
      <input type="text" class="form-control" id="name" name="name" formControlName="name" required>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label text-white">Image</label>
      <input type="file" class="form-control" (change)="onFileSelected($event)" id="image" name="image" formControlName="image" required>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label text-white">Catégorie</label>
      <select class="form-control" id="category" name="category" formControlName="category">
        <option value="" disabled selected>Sélectionnez une catégorie</option>
        <option *ngFor="let category of categories" value="api/categories/{{category.id}}">{{category.wording}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label text-white">Quantité</label>
      <input type="number" class="form-control" id="quantity" name="quantity" formControlName="quantity" min="0">
    </div>
    <div class="mb-3">
      <label for="dropDate" class="form-label text-white">Date de sortie</label>
      <input type="date" class="form-control" id="dropDate" name="dropDate" formControlName="dropDate" required>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label text-white">Prix</label>
      <input type="number" class="form-control" id="price" name="price" formControlName="price" min="0">
    </div>
    <div class="mb-3">
      <label for="gallery" class="form-label text-white">Galerie</label>
      <select class="form-control" id="gallery" name="gallery" formControlName="gallery">
        <option value="" disabled selected>Sélectionnez une galerie</option>
        <option *ngFor="let gallery of galleries" value="api/galleries/{{gallery.id}}">{{gallery.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary text-white">Ajouter NFT</button>
  </form>
</div>
