<div class="container">
  <div class="row">
      <div class="row">
        <h2 class="text-white fw-bolder">Découvre plus de NFTs</h2>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <h5 class="text-white">Explore les Nfts en Vogue</h5>
        </div>
        <div class="col-lg-4">
          <button class="btn mt-5 mb-5">
            <div class="d-flex justify-content-center">
              <a class="btn text-white rocket-launch me-3" routerLink="/nft"><img src="../../../assets/images/Eye.png" alt="eye" class="eye">
                Voir Tout</a>
            </div>
          </button>
        </div>
      </div>
      <div class="row  ">
        <div class="col-md-6 col-sm-12 col-lg-4 col-xs-12" *ngFor="let nft of nfts; let i = index">

          <div  class=" d-flex flex-wrap justify-content-lg-center justify-content-sm-between justify-content-md-between " >
          <div class="card mb-4 me-md-4 me-lg-4">
            <img [src]="'https://streetnft.pomelo-agence.com/nftMarketPlaceSymfony/public/uploads/' + nft.image " class="card-img-top arrondi me-3"  [alt]="nft.name" loading="lazy">
            <div class="card-body">
              <h5 class="card-title text-white">{{ nft.name }}</h5>
              <div class="d-flex align-items-center">
                <img [src]="'https://streetnft.pomelo-agence.com/nftMarketPlaceSymfony/public/uploads/' + nft.gallery.owner.avatar" alt="Avatar Propriétaire" class="avatarsmall me-2">
                <p class="card-text text-white">{{ nft.gallery.owner.username }}</p>
              </div>
              <p class="card-text text-white">Prix : {{ nft.price }} ETH</p>
              <p class="card-text text-white">Quantité disponible: {{ nft.quantity }} ETH</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

