
<div class="container"  data-aos="zoom-out-down">
  <div>
    <div class="row d-flex " data-aos="fade-up">
      <div class="col-lg-1"></div>
      <div class="col-lg-5 m-3">
        <h1 class="text-white mb-4" data-aos="fade-up-right"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000" data-aos-offset="0"> Découvrez l'art Digital& Collecte des NFTs</h1>
        <h2 class="text-white mb-3"data-aos="fade-up-left"
        data-aos-duration="2000"  data-aos-offset="0">Entrez dans un monde d'expression artistique sans limites. Explorez, collectionnez et vendez des NFTs uniques, </h2>
        <button class="btn mt-5 mb-5">
          <div class="d-flex align-items-center justify-content-center"data-aos="zoom-out-down"
          data-aos-easing="linear"
          data-aos-duration="2000" data-aos-offset="0">
            <span class="rocket-launch me-3" data-aos="flip-up"
            data-aos-anchor-placement="bottom-center"><img src="../../../assets/images/RocketLaunch.png" alt="rocket Launch"></span>
            <div>
            </div>
            <span class="text ml-2 text-white ">Commencer</span>
          </div>
        </button>
        <div class="row">
          <div class="col-lg-4">
            <p class="text-white fw-bolder"> 240K+</p>
            <p class="text-white"> Total Ventes</p>
          </div>
          <div class="col-lg-4">
            <p class="text-white fw-bolder"> 100K+</p>
            <p class="text-white"> Enchères</p>
          </div>
          <div class="col-lg-4">
            <p class="text-white fw-bolder"> 240K+</p>
            <p class="text-white"> Artistes</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card land" >
          <img src="../../../assets/images/skelette.webp" class="card-img-top landing" alt="Landing image">
          <div class="card-body">
            <h3 class="card-title text-white mb-3">Skelette Graf</h3>
            <div class="card-text d-flex">
              <img src="../../../assets/images/avatar3.png" class="avatar me-2" alt="avatar">
              <p class="text-white"> Anima Trix</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-top-createur></app-top-createur>
<app-trend-galleries></app-trend-galleries>
<app-category></app-category>
<section>
  <app-trend-nft></app-trend-nft>
</section>
<section>
  <app-hightlight></app-hightlight>
</section>

<section class="HowItWork">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-11 d-flex">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="text-white mb-3"> Comment ça marche</h2>
            <p class="text-white"> C'est simple</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-work me-2">
              <div class="card-body">
                <div class="card-img-top mb-2">
                  <img src="../../../assets/images/Icon.png" alt="icon" class="icon" />
                </div>
                <h5 class="text-white">Configure ton Wallet</h5>
                <p class="text-white">Crée et configure ton portefeuille numérique sécurisé, où tu pourras stocker tes NFT.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-work">
              <div class="card-body">
                <div class="card-img-top mb-2">
                  <img src="../../../assets/images/Icon2.png" alt="icon" class="icon" />
                </div>
                <h5 class="text-white"  data-aos="fade-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="0"
                data-aos-duration="1500" data-aos-offset="0">Créer ta Collection</h5>
                <p class="text-white"  data-aos="fade-right"
                data-aos-anchor="#example-anchor"
                data-aos-offset="0"
                data-aos-duration="1500">Crée ta propre collection de NFT unique, ajoute une description, des liens et fixe ton prix.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-work">
              <div class="card-body">
                <div class="card-img-top mb-2">
                  <img src="../../../assets/images/Icon3.png" alt="icon" class="icon" />
                </div>
                <h5 class="text-white"  data-aos="fade-right"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="500" data-aos-offset="0">Commence à gagner</h5>
                <p class="text-white"  data-aos="fade-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="0"
                data-aos-duration="500">Profite de notre marketplace afin de trouver des personnes prêtes à débourser pour ton art.</p>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="Nft">
  <div class="container">
    <div class="row  ">
      <div class="col-lg-1"></div>
      <div class="col-lg-11 d-flex justify-content-center">
        <div class=" card card-nft flex-row d-flex justify-content-center align-items-center col-lg-11">
          <div class="row">
            <div class="col-lg-6 ">
              <img class="card-img-left " src="../../../assets/images/nft.jpg"/>
            </div>
            <div class="col-lg-6">
                <h4 class="card-title text-white h5 h4-sm">Qu'est ce qu'un Nft</h4>
                <p class="card-text text-white">Les NFT, ou « Non-Fungible Tokens », sont des actifs numériques uniques et rares, enregistrés sur la blockchain. Ils garantissent l'authenticité et la propriété exclusive d'œuvres d'art, de collection et de contenus numériques. Découvrez une nouvelle ère de la créativité numérique sur notre marketplace NFT.</p>
            </div>
          </div>
          </div>
      </div>
      </div>
      </div>
</section>

<!-- Footer -->
<app-footer></app-footer>
