

/* Bouton */
button
  /* Auto layout */
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 0px 50px
  gap: 12px
  width: 224px
  height: 60px

  background: #A259FF
  border-radius: 20px

  /* RocketLaunch */
  .rocket-launch
    width: 20px
    height: 20px

  /* Text */
  .text
    /* Button */
    width: 92px
    height: 22px
    font-family: 'Work Sans'
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 140%
    /* or 22px */
    text-align: center
    color: #FFFFFF


.landing
  height: 400px
  width: 500px

.land
  width: 500px
section
    margin-bottom: 30px

.card-work
  width: 330px
  height: 417px
  text-align: center

  .card-body
    display: flex
    flex-direction: column
    align-items: center

.card-img-top
  border-radius: 20px 20px 0px 0px

img.icon
  width: 210px
  height: 210px
  transition: transform .1s
  &:hover
    img.icon
      transform: scale(1.5)

.Nft
  .card-nft
    width: 1130px
    height : 500px

  .card-img-left
    width : 400px
    height: 310px



  .card-body
    width: 30%



/* Bouton */
button
  background: #A259FF
  border-radius: 20px

  @media screen and (max-width: 768px)
       width: 327px

  /* RocketLaunch */
  .rocket-launch
    width: 20px

.land
  width: 500px
  @media screen and (max-width: 768px)
      width: 336px
      height: auto
section
    margin-bottom: 30px



.card-work
  width: 330px
  height: 417px

.card-img-top
  border-radius: 20px 20px 0px 0px

  @media screen and (max-width: 768px)
      width: 21em
      height: auto


img.icon
  width: 210px
  height: 210px

  .card-body
    width: 30%

.chiffre
  p
    font-size: 1.3em


.chiffre
  @media screen and (max-width: 768px)
    display:flex
    color:red



.text-h1
  line-height: 76px
  font-weight: 600
  font-size: 60px

  @media screen and (max-width: 768px)
      font-size: 35px
      height: auto
      line-height: 46px

.text-h2
  text-transform:capitalize
  font-weight: 400
  font-size: 36px

  @media screen and (max-width: 768px)
      font-size: 22px
      font-weight: 200

.row.chiffre
   @media screen and (max-width: 768px)
      display:flex
      width: 2em
      max-width: 2em































