
<div class="container-fluid mt-5">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1 class="text-white mb-4 animate__animated animate__fadeInDown  text-h1" > Découvrez l'art Digital& Collecte des NFTs</h1>
        <h2 class="text-white mb-3 animate__animated animate__backInUp  animate__delay-1s  text-h2">Entrez dans un monde d'expression artistique sans limites. Explorez, collectionnez et vendez des NFTs uniques, </h2>
        <button class="btn mt-5 mb-5">
          <div class="d-flex align-items-center justify-content-center">
            <span class="rocket-launch me-2">
              <img src="../../../assets/images/RocketLaunch.png" alt="rocket Launch"  class="img-fluid"></span>
            <div>
            </div>
            <a routerLink="/registerForm" class="text ml-2 text-white start">Commencer</a>
          </div>
        </button>
        <div class="row chiffre order-2" style="display: flex;">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <p class="text-white fw-bolder"> 240K+</p>
            <p class="text-white"> Total Ventes</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <p class="text-white fw-bolder"> 100K+</p>
            <p class="text-white"> Enchères</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <p class="text-white fw-bolder"> 240K+</p>
            <p class="text-white"> Artistes</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 oder-first order-1">
        <div class="card land animate__animated animate__fadeDown animate__delay-2s" >
          <img  src="../../../assets/images/skelette.webp" class="card-img-top  img-fluid landing  animate__animated animate__flash" alt="Landing image" loading="eager">
          <div class="card-body">
            <h3 class="card-title text-white mb-3">Skelette Graf</h3>
            <div class="card-text d-flex">
              <img src="../../../assets/images/avatar3.png" class="avatar me-2" alt="avatar">
              <p class="text-white"> Anima Trix</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-top-createur></app-top-createur>
<app-trend-galleries></app-trend-galleries>
<app-category></app-category>
<section>
  <app-trend-nft></app-trend-nft>
</section>
<section>
  <app-hightlight></app-hightlight>
</section>

<section class="HowItWork mb-5">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12 d-flex">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="text-white mb-3 fs-2"> Comment ça marche</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="card card-work me-2">
              <div class="card-body">
                <div class="card-img-top mb-2">
                  <img src="../../../assets/images/Icon.png" alt="icon" class="icon" />
                </div>
                <h2 class="text-white fs-2">Configure ton Wallet</h2>
                <p class="text-white">Crée et configure ton portefeuille numérique sécurisé, où tu pourras stocker tes NFT.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="card card-work">
              <div class="card-body">
                <div class="card-img-top mb-2">
                  <img src="../../../assets/images/Icon2.png" alt="icon" class="icon" />
                </div>
                <h2 class="text-white fs-2">Créer ta Collection</h2>
                <p class="text-white">Crée ta propre collection de NFT unique, ajoute une description, des liens et fixe ton prix.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="card card-work">
              <div class="card-body">
                <div class="card-img-top mb-2">
                  <img src="../../../assets/images/Icon3.png" alt="icon" class="icon" />
                </div>
                <h2 class="text-white fs-2">Commence à gagner</h2>
                <p class="text-white">Profite de notre marketplace afin de trouver des personnes prêtes à débourser pour ton art.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <section class="Nft container" >
    <div class="card  ">
      <div class="row p-4 d-flex justify-content-around" >
      <div class="col-lg-4">
        <div class="" >
          <img src="../../../assets/images/nft.jpg" class =" img-fluid arrondi"/>
        </div>
      </div>
      <div class="col-lg-4 ">
        <h2 class="card-title text-white h5 h4-sm mb-2 fs-2">Qu'est Ce Qu'un Nft</h2>
        <p class="card-text text-white">Les NFT, ou « Non-Fungible Tokens », sont des actifs numériques uniques et rares, enregistrés sur la blockchain. Ils garantissent l'authenticité et la propriété exclusive d'œuvres d'art, de collection et de contenus numériques. Découvrez une nouvelle ère de la créativité numérique sur notre marketplace NFT.</p>

      </div>
    </div>
      </div>
</section>


<!-- Footer -->
<app-footer></app-footer>
