
<div class="container">
  <h1 class="text-white">Mentions Légales - Street NFT Marketplace</h1>

  <section>
    <h2 class="text-white">1. Informations sur l'Éditeur du Site:</h2>
    <address>
      <p class="text-white">Nom de l'entreprise ou du propriétaire : Nahima TOUMI</p>
      <p class="text-white">Adresse : [Votre Adresse]</p>
      <p class="text-white">Contact : [Votre Adresse Email]</p>
      <p class="text-white">Numéro de téléphone : [Votre Numéro de Téléphone]</p>
      <p class="text-white">Numéro d'inscription au registre du commerce et des sociétés (RCS) : [Votre Numéro RCS]</p>
      <p class="text-white">Numéro de TVA intracommunautaire : [Votre Numéro TVA]</p>
    </address>
  </section>

  <section>
    <h2 class="text-white">2. Hébergeur du Site:</h2>
    <p class="text-white">Le site Street NFT Marketplace est hébergé par Vercel et OVH.</p>
  </section>


</div>
