<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5 d-none d-sm-inline text-purple">Filtrer</span>
    </a>
    <form [formGroup]="filterForm" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="nftName" class="form-label text-purple">Nom NFT</label>
        <div class="input-group">
          <input type="text" class="form-control" id="name" formControlName="name" (input)="onInputChange()" />
          <button type="submit" class="btn btn-dark input-group-text" id="btn-search">
            <i class="bi bi-search text-purple m-2"></i>Rechercher
          </button>
        </div>
      </div>
      <div class="mb-3">
        <label for="nftName" class="form-label text-purple">Nom du Propriétaire</label>
        <div class="input-group">
          <input type="text" class="form-control" id="username" formControlName="username" (input)="onInputChange()"/>
          <button type="submit" class="btn btn-dark input-group-text" id="btn-search">
            <i class="bi bi-search text-purple m-2"></i>Rechercher
          </button>
        </div>
      </div>
      <div class="mb-3">
        <label for="gallery.name" class="form-label text-purple">Nom de la Galerie</label>
        <div class="input-group">
          <input type="text" class="form-control" id="gallery.name" formControlName="galleryName" (input)="onInputChange()" />
          <button type="submit" class="btn btn-dark input-group-text" id="btn-search ">
            <i class="bi bi-search text-purple m-2"></i>Rechercher
          </button>
        </div>
      </div>
      <div class="mb-3">
        <label for="categoryName" class="form-label text-purple">Nom de la Catégorie</label>
        <div class="input-group">
          <input type="text" class="form-control" id="category.name" formControlName="categoryName" (input)="onInputChange()"/>
          <button type="submit" class="btn btn-dark input-group-text" id="btn-search">
            <i class="bi bi-search text-purple m-2"></i>Rechercher
          </button>
        </div>
      </div>
      <div class="mb-3">
        <label for="minPrice" class="form-label text-purple">Prix Minimum</label>
        <input type="number" class="form-control" id="minPrice" formControlName="minPrice"(input)="onInputChange()" placeholder="Min" />
      </div>
      <div class="mb-3">
        <label for="maxPrice" class="form-label text-purple">Prix Maximum</label>
        <input type="number" class="form-control" id="maxPrice" formControlName="maxPrice" (input)="onInputChange()"placeholder="Max" />
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-dark" id="btn-search">
          <i class="bi bi-search text-purple m-2"></i> Rechercher
        </button>
      </div>
    </form>
  </div>
</div>
