
.artistAvatar
  width: 120px
  height: 120px

  @media screen and (max-width: 972px)
      width: 60px
      height: 60px
      margin-right: 10px




.card-artist
  width: 238px
  height: 240px

  @media screen and (max-width: 768px)
      width: 21em
      height: 100px
      padding-left: 20px
      flex-direction: row !important
      justify-content: start
      align-items: center
      flex-wrap: wrap

  @media screen and (max-width: 972px)
      width: 21em
      height: 100px
      padding-left: 20px
      flex-direction: row !important
      justify-content: start
      align-items: center
      flex-wrap: wrap
button
  background: #A259FF
  position: absolute
  left: 10.3%
  right: 42.46%
  top: 24.77%
  bottom: 46.87%
  border: 2px solid #A259FF
  border-radius: 20px
  width: 98px
  height: 22px
  box-sizing: border-box


.btn:hover
  background: blue

