<section class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-white fw-bold">Top Créateurs</h2>
      <div class="row mb-3 me-1 ">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 ">
          <p class="text-white">Nos tops Créateurs dans notre Nft MarketPlace</p>
        </div>
        <div class="col-lg-1 offset-md-6 d-flex col-sm-12 d-none d-md-block btn"  style="border: 2px solid ; background: #A259FF; padding:10px; width:9.5em; border-radius:1em">
          <a class="rocket-launch me-2 text-white"routerLink="/registerForm"
         ><img src="../../../assets/images/RocketLaunch.png" alt="rocket Launch" loading="lazy">
        Commencer</a>
      </div>
    </div>
  </div>
</div>
        <div class="row ">
          <div class="col-lg-3 mb-5 col-md-6 col-sm-12  animate__animated" *ngFor="let creator of topCreators">
            <div class="card card-artist d-flex flex-lg-column  align-items-lg-center justify-content-lg-center">
              <a (click)="navigateToUserProfile(creator.id)" class="p-0" >
                <img  [src]="'https://streetnft.pomelo-agence.com/nftMarketPlaceSymfony/public/uploads/' + creator.avatar+'.webp'" class="artistAvatar  ms-6 me-6" loading="lazy"></a>
              <h4 class="text-white me-3 ">{{ creator.username | titlecase }}</h4>
              <p class="text-white text-center ms-6">Total Ventes : {{ creator.totalSales }} ETH</p>
            </div>
          </div>
        </div>
    </section>
