<section class="container mt-5 w-75">
  <h2 class="text-white fw-bold">Collections Tendances</h2>
  <p class="text-white">Regardez nos Collections tendance de la Semaine</p>
  <div class="row mt-3">
    <div class="col-lg-4" *ngFor="let gallery of galleries">
      <div class="col-lg-12 p-3 " *ngIf="gallery.nfts && gallery.nfts.length > 0">
              <img  [src]="'http://localhost:8000/media/cache/thumbnail_web_path/uploads/' + gallery.nfts[0].image +'.webp'" [alt]="gallery.name" class="collection img-fluid arrondi" loading="lazy">
              <div class="row d-flex justify-content-around mt-3">
                <div class="col-lg-3 p-1 "  *ngIf="gallery.nfts && gallery.nfts.length > 1">
                <img  [src]="'http://localhost:8000/media/cache/thumbnail_web_path/uploads/' + gallery.nfts[1].image +'.webp'" [alt]="gallery.nfts[1].name" class=" arrondi " loading="lazy">
              </div>
              <div class="col-lg-3 p-1"  *ngIf="gallery.nfts && gallery.nfts.length > 2">
                <img  [src]="'http://localhost:8000/media/cache/thumbnail_web_path/uploads/' + gallery.nfts[2].image +'.webp'" [alt]="gallery.nfts[2].name" class=" arrondi" loading="lazy">
              </div>
              <div class="col-lg-3 p-1">
                <a [routerLink]="['/gallery/', gallery.id]" class="btn collectionplus d-flex justify-content-center align-items-center">
                  <p class="text-white fw-bold">Voir les {{gallery.nfts.length}} Nfts</p>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mt-2">
              <div class="row">
                <h5 class="text-white">{{ gallery.name }} Nfts</h5>
              </div>
              <div class="row">
                <div class="col-lg-12 d-flex">
                  <img  [src]="'http://localhost:8000/uploads/' + gallery.owner.avatar" [alt]="gallery.owner.username" class="avatarsmall me-2">
                  <p class="text-white fw-bold">{{ gallery.owner.username }}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


