<section class="container mt-5">
  <h2 class="text-white fw-bold">Collections Tendances</h2>
  <p class="text-white">Regardez nos Collections tendance de la Semaine</p>
  <div class="row mt-3">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let gallery of galleries; let i = index">

      <div *ngIf="(renderer2IsXs() && i < 1) || (renderer2IsMobile() && i < 2) || (!renderer2IsMobile() && i < 3)">
        <div class="col-lg-12 col-md-12 col-sm-12 p-3" *ngIf="gallery.nfts && gallery.nfts.length > 0">
          <img [src]="'https://streetnft.pomelo-agence.com/nftMarketPlaceSymfony/public/uploads/' + gallery.nfts[0].image +'.webp'" [alt]="gallery.nfts[0].name" class="collection arrondi" loading="lazy">
          <div class="row mt-3 ">
            <div class="col-lg-3 col-md-3 col-sm-3 custom-row">
              <img *ngIf="gallery.nfts && gallery.nfts.length > 1" [src]="'http://streetnft.pomelo-agence.com/nftMarketPlaceSymfony/public/uploads/' + gallery.nfts[1].image +'.webp'" [alt]="gallery.nfts[1].name" class="collectionplus" loading="lazy">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 custom-row">
              <img *ngIf="gallery.nfts && gallery.nfts.length > 2" [src]="'http://streetnft.pomelo-agence.com/nftMarketPlaceSymfony/public/uploads/' + gallery.nfts[2].image +'.webp'" [alt]="gallery.nfts[2].name" class="collectionplus" loading="lazy">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 custom-row">
              <a [routerLink]="['/gallery/', gallery.id]" class="btn collectionplus d-flex justify-content-center align-items-center">
                <p class="text-white fw-bold">Voir les {{gallery.nfts.length}} Nfts</p>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mt-2">
            <div class="row ms-1">
              <h5 class="text-white">{{ gallery.name }} Nfts</h5>
            </div>
            <div class="row ms-1">
              <div class="col-lg-12 d-flex">
                <img [src]="'https://streetnft.pomelo-agence.com/nftMarketPlaceSymfony/public/uploads/' + gallery.owner.avatar" [alt]="gallery.owner.username" class="avatarsmall me-2">
                <p class="text-white fw-bold">{{ gallery.owner.username }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
