<section class="gallery min-vh-100">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col-4" *ngFor="let gallery of galleries">
        <div class="card gallery-card position-relative m-2" *ngIf="gallery.nfts.length > 0">
          <img  [src]="'https://streetnft.pomelo-agence.com/nftMarketPlaceSymfony/public/uploads/' + gallery.nfts[0].image "
          [alt]="gallery.name" class="card-img-top" loading="eager">
          <div class="card-body">
            <h5 class="card-title text-white mb-3">{{ gallery.name }}</h5>
            <div class="d-flex justify-content-between align-items-center">
              <div class="user-info d-flex align-items-center">
                <img  [src]="'https://streetnft.pomelo-agence.com/nftMarketPlaceSymfony/public/uploads/' + gallery.owner.avatar"
                 [alt]="gallery.owner.username" class="avatarSmall me-2" loading="lazy">
                <span class="text-white fw-bold">{{ gallery.owner.username }}</span>
              </div>
              <a [routerLink]="['/gallery/', gallery.id]" class="btn btn-primary">
                {{ gallery.nfts.length }} NFTs
              </a>
              <!-- Bouton Modal -->
              <button (click)="openModal('https://streetnft.pomelo-agence.com/nftMarketPlaceSymfony/public/uploads/'
              + gallery.nfts[0].image, gallery.description)" class="btn btn-info mt-2" >Voir plus</button>
            </div>
          </div>
        </div>
      </div>0
    </div>
  </div>
</section>
<app-footer></app-footer>
